<div class="grid-x grid-margin-x">
  <div class="cell large-12">
    <h3 align="center" style="color:#BC8F8F; font-family: 'Caveat', cursive">Создание приглашений прошло успешно!</h3>
    <h4 align="center" style="color:#BC8F8F; font-family: 'Caveat', cursive">Приглашения находятся в папке EVENT<br><br><br><br></h4>
  </div>
  <a href="<%= notes_path %> " style="font-family: 'Caveat', cursive">Назад к записной книжке</a>
</div>