<div class="grid-x grid-margin-x">
  <div class="cell large-12">
    <h3 style="color:#BC8F8F; font-family: 'Caveat', cursive">Ничего не найдено...<br><br></h3>
  </div>
  <a href="<%= home_path %> " style="font-family: 'Caveat', cursive">На домашнюю страницу</a>
</div>